@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

* {
    font-family: "Neucha", sans-serif;
}

/* Main Styles */

body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background: url("../img/main.jpg");
}

#index-div {
    text-align: center;
}

#Div1, #Div2, #Div3, #Div4 {
    margin-top: 30px;
    margin-right: 30px;
    border: 2px solid silver;
    border-radius: 10px;
    color: #fff;
}

#Div5 {
    margin-top: 30px;
    margin-right: 30px;
    border: 2px solid silver;
    border-radius: 10px;
    height: 350px;
}

#P1-Text1 {
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 40px;
}

#P2-Text1 {
     margin-top: 30px;
     font-size: 25px;
}

#P1-Text2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

#P1-Text3 {
    margin-top: 15px;
    font-size: 40px;
    margin-bottom: 7px;
}

#P1-Text4 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 35px;
}

#Butt-Text2 {
    display: inline-block;
    font-size: 18px;
    width: 200px;
    height: 64px;
}

#Butt-Text4 {
    margin-top: 2%;
}

#List-Text1 {
    font-size: 20px;
}

#List-Text3 {
    font-size: 20px;
}

#health, #food,
#water, #energy,
#history, #secrets {
    font-size: 20px;
}

#to-eat, #to-up {
    width: 125px;
    height: 45px;
    margin-top: 5px;
}

#btn-stream {
    visibility: hidden;
}

#to-roulette-heroes {
    margin-top: 10px;
    width: 125px;
    height: 45px;
}

#to-eat { font-size: 15px; }

#roulette, #guessHero {
    width: 120px;
    height: 45px;
    margin-top: 5px;
}

#ToDo-Text1, #Games-Text1 {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}

#Games-Text1 { margin-top: 10px; }

#result-items, #result-heroes {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.15rem;
}

#btn-stream {
    width: 135px;
    height: 55px;
    margin-top: 5px;
}

#stream-body {
    background-image: url("../img/bg.jpg");

    text-align: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#result-heroes2, #result-items1 {
    color: #fff;
    margin-top: 10px;
}

#cls { border-radius: 0; }

#p-stream-money, #stream-money,
#title-heroes, #title-items,
#title-followers, #followers,
#title-watchers, #watchers,
#title-donat, #donat, #donat-all { color: #fff; }

#up-title {
    float: left;
    margin-bottom: 0;
}

#money {
    float: right;
    margin-top: 4px;
    margin-bottom: 0;
}

#name, #level, #cost,
#name_2, #level_2, #cost_2,
#name_3, #level_3, #cost_3,
#name_4, #level_4, #cost_4,
#name_5, #level_5, #cost_5,
#name_6, #level_6, #cost_6 { float: left; }

#up1, #up2, #up3, #up4, #up5, #up6  { width: 65px; }

#up1 { margin-left: 155px; }
#up2 { margin-left: 145px; }
#up3 { margin-left: 74.5px; }
#up4 { margin-left: 165.5px; }
#up5 { margin-left: 143.5px; }
#up6 { margin-left: 154.5px; }

#level, #level_2, #level_3,
#level_4, #level_5, #level_6 { margin-left: 10px; text-decoration: underline }

#name, #level, #cost,
#name_2, #level_2, #cost_2,
#name_3, #level_3, #cost_3,
#name_4, #level_4, #cost_4,
#name_5, #level_5, #cost_5,
#name_6, #level_6, #cost_6 { margin-top: 7px; }

#cost, #cost_2, #cost_3,
#cost_4, #cost_5, #cost_6 { margin-left: 10px; }

.console-modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.console-modal:target {
    display: block;
    pointer-events: auto;
}

.console-modal > div {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
}

.close {
    color: #000;
    line-height: 25px;
    position: absolute;
    right: -1px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
}

#input-command {
    width: 150px;
    height: 38px;
    text-align: center;
    outline: none;
    margin-top: 3.5px;
}

#run-command {
    height: 38px;
}

#container-gH {
    margin-top: 10px;
}

#vk-link {
    text-decoration: none;
    font-size: 20px;
}